<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.lovo.dispatchSystem.dao.ICharacterDao">
	<resultMap type="characterEntity" id="characerRm">
		<id property="id" column="pk_id" />
		<result property="characterName" column="f_characterName" />
	</resultMap>
	<sql id="base_column">pk_id,`f_characterName`</sql>


	<insert id="add" parameterType="characterEntity">
		insert into t_character values(null,#{characterName})
	</insert>
	<select id="findAll" resultMap="characerRm">
		select <include refid="base_column"/> from t_character
	</select>
	<select id="findById" resultMap="characerRm">
		select <include refid="base_column"/> from t_character where pk_id=#{param1}
	</select>
	<delete id="deleteById">
		delete form t_character where pk_id=#{param1}
	</delete>
</mapper>