<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.lovo.dispatchSystem.dao.ICharacterPowerDao">
	<resultMap type="characterPowerEntity" id="characerRm">
		<id property="id" column="pk_id" />
		<result property="powerId" column="fk_powerId" />
		<result property="characterId" column="fk_characterId" />
	</resultMap>
	<sql id="base_column">pk_id,`fk_powerId`,fk_characterId</sql>


	<insert id="add" parameterType="characterPowerEntity">
		insert into t_c2p values(null,#{characterId},#{powerId})
	</insert>
	<select id="findById" resultMap="characerRm">
		select <include refid="base_column"/> from t_c2p where pk_id=#{c2pId}
	</select>
	<update id="update">
		update t_c2p set fk_powerId=#{powerId},fk_characterId=#{characterId}
	</update>
	<delete id="deleteByCharacterId" >
		delete from t_c2p where fk_characterId=#{characterId}
	</delete>
	<delete id="deleteByUserId" >
		delete from t_c2p where fk_powerId=#{powerId}
	</delete>
	<delete id="deleteByCharacterIdAndUserId" >
		delete from t_c2p where fk_characterId=#{param1} and fk_powerId=#{param2}
	</delete>
	
</mapper>